body{
    margin: 10px;
    background-color: black;
}

#home{
    margin-left:-1px;
    margin-right:-1px;
    margin-top:-1px;
    padding-bottom: 2cm;
    background-color: hsl(300, 100%, 75%);
}

header{
    font-size: 30px;
    color: hsl(300, 100%, 37%);
    float: left;
    padding-left: 2cm;
}

nav
{
    float: right;
    padding-right: 1cm;
}

nav button{
    color: lightgray;
    background-color: hsl(300, 100%, 12%);
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none;

}

nav button:hover{
    color: white;
    background-color: purple;
    font-weight: bolder;
    text-decoration: underline;
}

#all-conversion-sections{
    display: grid; /**/
    justify-content: center; 
    /* align-items: center;  */
}

#all-conversion-sections figure{
    float: left;
    justify-content: center;
    widows: 200px;
}

#all-conversion-sections img{
    width: 200px;
}

#all-conversion-sections figcaption{
    font-size: 17px;
    color: black;
    text-align: center;
}

#all-conversion-sections button{
    font-size: 20px;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
    border: transparent;
    width: fit-content; /**/
    border-radius: 40px;
}

#all-conversion-sections button:hover{
    cursor: pointer;
}

.b{
    border-radius: 10px;
    border-top-width: 20px;
    border-top-style: solid;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex; /**/
}

#temperature{
    border-top-color: green;
}

#weight{
    border-top-color: coral;
}

#distance{
    border-top-color: cyan;
}

legend{
    font-size: 30px;
    font-weight: bolder;
}

#go-home {
    width: 40px;
    height: 40px;
    justify-items: center;
    border-radius: 100%;
    background-color: cyan;
    display: flex; /**/
    position: fixed;
    bottom: 40px;
    left: 0px;
}

#go-home img{
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

footer{
    background-color: lightpink;
    margin-top: 20 px;
}
